@charset "UTF-8";

#img-div {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

img#review_header {
	position: absolute;
	left: 0px;
	width: 1024px;
	height: 300px;
}
.header-title {
	color: white;
	position: absolute;
	text-align: center;
	font-size: 4em;
	top: 120px;
	left: 300px;
	font-weight: 500;
	font-family: 'Nanum Pen Script', cursive;
	z-index: 10;
}

#blackbg {
	width: 1024px;
	height: 300px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: black;
	opacity: .3;
	z-index: 5;
}