@charset "UTF-8";

.btn-pink {
	color: white;
	background: #da7f84;
}

.btn-pink:hover {
	color: #da7f84;
	background: white;
	border-color: #da7f84;
}

.btn-gray {
	color: white;
	background: lightgray;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #da7f84;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 11px 5px;
	border-style: solid;
	border-width: 0px;
	text-align: center;
	overflow: hidden;
	word-break: normal;
	/* 	border-top-width: 1px;
	border-bottom-width: 1px;
 */
	border-color: #aaa;
	color: #333;
	background-color: #fff;
}

table {
	font-size: 15px;
}

.tg th {
	font-family: Arial, sans-serif;
	font-weight: normal;
	padding: 11px 5px;
	border-style: solid;
	border-width: 0px;
	overflow: hidden;
	word-break: normal;
	/* 	border-top-width: 1px;
	border-bottom-width: 1px; */
	border-color: #aaa;
	color: #333;
	background-color: #fff;
	text-align: center;
}

<<<<<<< HEAD
#menu{
	position: relative; left:50%;
=======
#menu {
	position: relative;
	left: 40%;
>>>>>>> branch 'master' of https://github.com/heesuKwon/pinkpaw.git
}

#modify {
	position: relative;
	left: 44%;
}

#dmBox {
	position: absolute;
	height: 568px;
	border: solid black 1px;
	border-top-style: hidden;
	border-right-style: solid;
	border-bottom-style: hidden;
	border-left-style: hidden;
	padding-right: 20px;
	left: 20px;
	top: 380px;
}

.tg .tg-th {
	background-color: #da7f84;
	color: white;
	border-color: inherit;
	text-align: center;
	vertical-align: middle;
}

td.tg-img {
	color: #333333;
	border-color: inherit;
	text-align: center;
	vertical-align: middle;
	padding: 20px 100px;
}